body {
    display: block;
    text-align: center;
    align-content: center;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

main {
    margin: 0 auto;
    position: relative;
    padding: 0;
    background-color: darkgoldenrod;
    display: block;
}

canvas {
    border: 5px solid #e9155f;
    margin: 0 auto;
    background-color: white;
    display: block;
}
