
.gameboardContainer {
    display: flex;
    border: 3px solid black;
    width: 1000px;
    margin: 0 auto;
}

.flex-child {
    flex: 1;
    background-color: LightSkyBlue ;
    height: 533px;
}


img {
    height: 533px;
}

h1 {
    text-align: center;
}